* {
    box-sizing: border-box;
}

:root {
    --primary-font: "Montserrat", sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: var(--primary-font);
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    cursor: pointer;
}

header {
    position: fixed;
    padding: 20px;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 93px;
    background-image: linear-gradient(to right, #00000000, #6750a555);
}

.nav__list {
    display: flex;
}

.nav__item {
    position: relative;
    font-weight: 700;
    cursor: pointer;
}

.nav__link {
    color: #a1b1cb;
    transition: 0.5s;
    padding: 25px;
}

.nav__link:hover {
    color: #fff;
}

.nav__item--active::after {
    position: absolute;
    content: "";
    right: 50%;
    transform: translateX(50%);
    bottom: -20px;
    width: 5px;
    height: 5px;
    background-color: #38bbd8;
    border-radius: 50%;
}

.search {
    position: relative;
}

.search__input {
    background: #3b567d;
    border-radius: 18.5px;
    width: 324px;
    height: 37px;
    padding: 0 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    outline: none;
    border: none;
}

.search__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    color: #fff;
}

.header-icon {
    display: flex;
    align-items: center;
}

.header-icon--item {
    margin: 0 15px;
    cursor: pointer;
    transition: 0.5s;
}

.header-icon--item:hover {
    transform: scale(1.1);
}

.profile--img img {
    width: 55px;
    height: 55px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #fff;
    margin-left: 15px;
}

.header-side--right {
    display: flex;
}
